@use "../scss/util/" as u;

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 75vh;
  align-items: center; /* Ensures vertical alignment */

  @include u.breakpoint-down(small) {
    height: 50vh;
  }
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 75vh;
}

.carousel__slide {
  flex: 0 0 auto;
  height: 100%; /* Set consistent height */
  object-fit: cover; /* Keeps original aspect ratio */
  scroll-snap-align: center;
}

.carousel-btn {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  transition: background 0.2s;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.glider {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.glider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.glider-container {
  max-width: 100%;
  overflow: hidden;
}
.glider .image-wrapper {
  height: 75vh; // fixed height container
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include u.breakpoint-down(small) {
    height: 50vh;
  }
}

.glider .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.glider-prev,
.glider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.glider-prev {
  left: -2rem;
}
.glider-next {
  right: -2rem;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.75rem; // space between dots

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--pico-primary);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--pico-primary-hover); // or your theme color
    }
  }
}

.glider-slide {
  padding: 0 0.5rem; /* 8px space on each side */
  box-sizing: border-box;
}

.glider-track {
  margin: 0 -0.5rem; /* negate outer padding */
  //   transition-duration: 1s !important; /* default is usually 0.5s or 0.3s */
}
