@use "../scss/util/" as u;

.intro {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: "Rethink Sans", sans-serif;
}

.video-background {
  overflow-x: hidden;
  margin-top: 79px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  z-index: 0;
  // background: url("/assets/img/jade-poster.webp") no-repeat center center;
  background-size: cover;

  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
  }
}

.video-overlay {
  overflow-x: hidden;

  position: absolute; /* Correct use of absolute positioning */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Added to ensure full height coverage */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
  z-index: 1; /* Ensure it appears above the video background */
  pointer-events: none; /* Prevent interaction with overlay */
}

.showreel {
  // opacity: 0;
  font-size: 0.75rem;

  @include u.breakpoint-down(small) {
    margin: 0 auto;
    display: block;
    font-size: u.rem(20);
  }
}

.showreel.show {
  opacity: 1;
}

.chevron-container {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset the centering */
  cursor: pointer; /* Change cursor to pointer */
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease; /* Transition for fading effect */
}

.chevron-container.visible {
  opacity: 1; /* Fully visible when this class is added */
}

.chevron {
  font-size: 40px; /* Adjust size of the chevron */
  color: var(--pico-primary); /* Chevron color */
  transition: transform 0.3s; /* Add a hover effect */
}

.scroll-down:hover .chevron {
  transform: translateY(5px); /* Slightly move down on hover */
}

#time-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#weather {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
}

#weather img {
  width: 24px; /* Set a width for the icon */
  height: 24px; /* Set a height for the icon */
  margin-left: 5px; /* Add some space between text and icon */
}

#tifajade {
  font-family: "Ringift", "Times New Roman", "Serif";
  font-size: 18vw;

  @include u.breakpoint-down(small) {
    font-size: 33vw;
  }
  width: 100%;
  margin: 0 auto;
  text-align: center;
  cursor: default;

  position: relative; /* Positioning to allow movement */
  bottom: -100%; /* Start hidden below the container */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  animation: slide-up 1s forwards; /* Animation applied */
}

.slide-container {
  overflow: hidden; /* Hide overflowing text */
  position: relative; /* Ensure absolute positioning of the text */
}

@keyframes slide-up {
  0% {
    bottom: -100%; /* Start off screen */
    opacity: 0; /* Start invisible */
  }
  100% {
    bottom: 0; /* Move to the bottom of the container */
    opacity: 1; /* End visible */
  }
}

.homepage-intro {
  flex: 1;
}

.homepage-intro > * {
  @include u.breakpoint(large) {
    height: auto;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
