<div class="side-by-side">
  {% if client %}
  <div class="details">
    <div>
      <p class="small"><b>Client:</b></p>
      <p class="small">{{ client }}</p>
    </div>
    {% endif %} {% if agency %}
    <div>
      <p class="small"><b>Agency:</b></p>
      <p class="small">{{ agency }}</p>
    </div>
    {% endif %} {% if length %}
    <div>
      <p class="small"><b>Project Length:</b></p>
      <p class="small">{{ length }}</p>
    </div>
    {% endif %} {% if scope %}
    <div>
      <p class="small"><b>Scope:</b></p>
      <p class="small">{{ scope }}</p>
    </div>
    {% endif %}
  </div>
  {% if quote %}
  <div class="testimonial">
    <blockquote class="quote">"{{ quote }}"</blockquote>
    <cite class="author"
      >- <a href="{{ citation }}" target="blank">{{ author }}</a></cite
    >
  </div>
  {% endif %}
</div>
