

<footer class="footer" id="contact">
    <h2 class="visually-hidden">Footer</h2>
<div class="footer__wrapper wrapper-f">
  <!-- {% include "includes/funfacts.html" %} -->
</div>

    <div class="footer__wrapper wrapper-f two-col">

      <div class="footer__info">
        {% include "includes/contact-intro.html" %}

      </div>
     
      {% include "includes/contact-form.html" %}

          
    </div>
    {% include "includes/backtotop.html" %}
    {% include "includes/legal.html" %}


</footer>
<!-- <script src="/app/js/fadein.js" defer></script> -->
<!-- <script src="/app/js/darkmode.js" defer></script> -->
<script src="/app/js/nav.js" defer></script>
<!-- <script src="/app/js/showreel.js" defer></script> -->
<script src="/app/js/footer.js" defer></script>
<!-- <script src="/app/js/collapsible.js" defer></script> -->
<!-- <script src="/app/js/scroll.js" defer></script> -->
<!-- <script src="/app/js/sticky.js" defer></script> -->
<!-- <script src="/app/js/stagger.js" defer></script> -->
<!-- <script src="/app/js/togglelogo.js" defer></script> -->
<script src="/app/js/tooltip.js" defer></script>
<script src="/app/js/hover.js" defer></script>
<!-- <script src="/app/js/funfacts.js"></script> -->
<!-- <script src="https://player.vimeo.com/api/player.js"></script> -->

</body>
</html>
