<li class="topnav__item no-animation">
  <a href="/index.html" class="topnav__link no-animation">Projects</a>
</li>

<li class="topnav__item no-animation">
  <a
    href="/about/index.html"
    class="topnav__link {% if page.url == '/about/index.html' %}current-page{% endif %} no-animation"
    >About Me</a
  >
</li>
<li class="topnav__item no-animation">
  <a
    href="/contact/index.html"
    class="topnav__link {% if page.url == '/about/index.html' %}current-page{% endif %} no-animation"
    >Connect</a
  >
</li>
