---
layout: "layouts/homepage.html"
client: "Tifa Jade | Creative Producer, Animation, Motion Design, 3D Art"
subtitle: "Empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
description: "Tifa Jade is a Creative Producer, Animator, and Filmmaker leading game-changing creative projects for global brands."
---

{% include "includes/nav.html" %}

<div id="scroll-point" class="wrapper wrapper-home">
  <div class="layout-main wrapper-h">
    <div class="intro-text">
      <div class="side-by-side">
        <div>
          <h1 class="about__title visually-hidden">Zam Ortega</h1>
          <!-- <h2 class="title">
            Tifa Jade is a Creative Director and Video Producer leading projects
            for global brands.
          </h2> -->
        </div>
      </div>

      <div class="intro" id="animation">
        {% include "includes/gallery.html" %}
      </div>
    </div>
  </div>
</div>
