---
layout: "layouts/project.njk"
title: " Anti-Fascist Coloring Book"
image: "/assets/img/projects/Anti Fascist Coloring Book/Front-and-Back-coloring-book.jpg"
order: 5
year: 2024
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>

<p>
  This mini zine was created as a Christmas gift for my little sister! Everytime
  I go home I find so many coloring crayons and pencils scattered so I thought
  this gift could give her a chance to put those to use.
</p>

<h2>Process</h2>

<div class="side-by-side">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione earum
    corrupti consectetur labore, voluptatibus rerum neque quod dicta ad vero
    nesciunt! Numquam distinctio adipisci, officia, necessitatibus consectetur
    repellendus odit doloremque maiores facilis esse autem nobis itaque veniam
    quis animi dolores.
  </p>
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, odit!
    Eligendi illum inventore laudantium dicta qui repudiandae optio
    reprehenderit veritatis odio iure quibusdam delectus nemo tempora nisi,
    consequatur ipsa, velit quaerat, quisquam pariatur nam. Odit?
  </p>
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>
