---
layout: "layouts/project.njk"
title: "The Spectator"
images:
  - "/assets/img/projects//The Spectator/Zam-on-the-cover.jpg"
  - "/assets/img/projects/The Spectator/Join Us Stack.jpeg"
  - "/assets/img/projects//The Spectator/The Spectator wall of issues.jpeg"
  - "/assets/img/projects/The Spectator/Vortext Feature Stack.jpeg"

order: 2
year: 2023-2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<div class="project__info">
  <div class="project__info-L">
    <p>
      The Spectator is Seattle University's student-run newspaper. I joined The
      Spectator in fall 2023 as a volunteer designer and became a staff designer
      in winter quarter. I developed the ability to work efficiently under tight
      deadlines, collaborated with the editorial layout team, and became
      proficient in applying the brand guidelines.
    </p>
    <p>
      In 2024-2025, I stepped into the role of lead designer, collaborating with
      the editorial team to coordinate design projects and guide a talented
      group of three layout designers through lively layout nights. I also had
      the exciting opportunity to create a new logo for a campus podcast, Cherry
      Street Chat.
    </p>
    <div class="project__info-R">
      <ul>
        <li>Team Lead</li>
        <li>Graphic Design</li>
        <li>Editorial</li>
        <li>illustration</li>
        <li>Brand Identity</li>
      </ul>
    </div>
  </div>
</div>

<h2></h2>

<div class="side-by-side">
  <img
    src="/assets/img/projects/The Spectator/The Spectator Tweek Cover.png"
    alt=""
  />
  <img src="/assets/img/projects/The Spectator/Vortex Cover.jpg" alt="" />
  <img
    src="/assets/img/projects/The Spectator/Trans Housing Cover.jpg"
    alt=""
  />
</div>

<div class="side-by-side">
  <img src="/assets/img/projects/The Spectator/Flipped_Classes.webp" alt="" />
  <img src="/assets/img/projects/The Spectator/Pickleball_Design.webp" alt="" />
</div>
<img src="/assets/img/projects/The Spectator/Higher Education 1.jpeg" alt="" />
<div class="side-by-side">
  <img
    src="/assets/img/projects/The Spectator/Higher Education 3.jpeg"
    alt=""
  />
  <img
    src="/assets/img/projects/The Spectator/Higher Education 2.webp"
    alt=""
  />
</div>

<img src="/assets/img/projects/The Spectator/Tweek.webp" alt="" />
<img src="/assets/img/projects/The Spectator/Tweek_zam_ 2.png" alt="" />
<div class="side-by-side">
  <img src="/assets/img/projects/The Spectator/TSR COLOR.webp" alt="" />
  <img
    src="/assets/img/projects/The Spectator/SuperbowlHalftimeshow.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/The Spectator/Trans_Housing.webp" alt="" />
  <img
    src="/assets/img/projects/The Spectator/Trans_Housing_Small.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/The Spectator/Academic Year Change.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/The Spectator/Free Speech on Campus.jpeg"
    alt=""
  />
</div>
<div class="side-by-side">
  <img src="/assets/img/projects/The Spectator/Zams_Opinion.webp" alt="" />
  <img
    src="/assets/img/projects/The Spectator/whole chikn WEB copy.webp"
    alt=""
  />
</div>
