---
layout: "layouts/project.njk"
title: "Wellness Cafe Food Pantry"
images:
  - "/assets/img/projects/Wellness and Health Promotion/Cookies and Consent/Cookies-and-Consent-Stickers-Final.jpg"
order: 1
year: 2024-2025
---

<img class="featured" src="{{ image }}" alt="" />
<h1 class="title">{% if title %}{{ title }}{% endif %} ({{ year }})</h1>
<p>
  I joined as a graphic designer for Seattle University's Wellness and Health
  Promotion office in June 2024, developing the brand identity for their food
  pantry. During the academic year I jumped from project to project developing
  workshop identities, posters, and flyers. Working alongside peer health
  educators, grads, and supervisors
</p>
<h2>Projects</h2>

<div class="side-by-side">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione earum
    corrupti consectetur labore, voluptatibus rerum neque quod dicta ad vero
    nesciunt! Numquam distinctio adipisci, officia, necessitatibus consectetur
    repellendus odit doloremque maiores facilis esse autem nobis itaque veniam
    quis animi dolores.
  </p>
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, odit!
    Eligendi illum inventore laudantium dicta qui repudiandae optio
    reprehenderit veritatis odio iure quibusdam delectus nemo tempora nisi,
    consequatur ipsa, velit quaerat, quisquam pariatur nam. Odit?
  </p>
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>
